<h2 mat-dialog-title>{{ isEditMode ? 'Edit User' : 'Add User' }}</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName" />
    <mat-error *ngIf="form.get('fullName')?.invalid">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="form.get('email')?.invalid">Invalid email</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Contact Number</mat-label>
    <input matInput formControlName="contactNumber" />
    <mat-error *ngIf="form.get('contactNumber')?.invalid">Contact number is required</mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid">
      {{ isEditMode ? 'Update' : 'Save' }}
    </button>
  </div>
</form>
